{% extends 'base.html' %}
{% load static %}


{% block title %}Foydalanuvchi parolini qayta tiklash{% endblock title %}

{% block content %}
<div class="text-center">
    <h1>Parolni qayta tiklash</h1>
    <h4>Parolni qayta tiklash uchun ushbu formani to'ldiring:</h4>

    {% if validlink %}
    <p>Parolni ikki marta kiriting:</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Saqlash</button>
    </form>

    {% else %}
    <p>Siz noto'g'ri linkdan foydalandingiz. U avvalroq foydalanilgan bo'lishi mumkin</p>
    
    {% endif %}
</div>
{% endblock content %}